<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5213ed6346878cb4"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'transparent',
    'share' : {
      'position' : 'left',
      'numPreferredServices' : 5
    },
    'follow' : {
      'services' : [
        {'service': 'facebook', 'id': 'sasha.sochka.biz'},
        {'service': 'twitter', 'id': 'sashasochka'},
        {'service': 'linkedin', 'id': 'sashasochka'},
        {'service': 'telegram', 'id': 'sashasochka'}
      ]
    },
  });
</script>
<!-- AddThis Smart Layers END -->
