<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="/style/hack.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/style/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/style/pygment_trac.css" media="screen">

    <title>Sochka.github.io by sochka</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1><a href="/">sochka.github.io/index.html</a></h1>
        <h2>Personal page on github.io</h2>

        <section id="downloads">
        <!--
        <a href="https://github.com/sochka" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        -->
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
    <!-- AddThis Smart Layers BEGIN -->
    <!-- Go to http://www.addthis.com/get/smart-layers to customize -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5213ed6346878cb4"></script>
    <script type="text/javascript">
      addthis.layers({
        'theme' : 'transparent',
        'share' : {
          'position' : 'left',
          'numPreferredServices' : 5
        },
        'follow' : {
          'services' : [
            {'service': 'facebook', 'id': 'olexandr.sochka'},
            {'service': 'twitter', 'id': 'sashasochka'},
            {'service': 'linkedin', 'id': 'oleksandrsochka'},
            {'service': 'google_follow', 'id': 'u/0/113256070929909213043'}
          ]
        },
      });
    </script>
    <!-- AddThis Smart Layers END -->
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-43288485-1");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>

